:root {
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
  --offwhite: #ffffff;
  --grafite: #232323;
  --fundo-dark: #0e1014;
  --fundo-light: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-dark);
  color: var(--offwhite);
  font-family: "Poppins", sans-serif;
  font-size: 24pt;
  overflow-x: hidden;
}

h1 {
  font-family: poppins;
  font-weight: 700;
  font-size: 64pt;
}

.h1-top {
  color: var(--roxo-destaque);
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--grafite);
  gap: 50%; /* Espaçamento entre logo e botão */
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.link {
  background-color: var(--roxo-destaque);
  color: var(--offwhite);
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 18pt;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin: 20px;
}

.titulo {
  margin: 0;
}

.texto {
  max-width: 600px;
  margin: 0;
  font-size: 18pt;
  line-height: 1.5;
}

.link:hover {
  background-color: var(--roxo-hover);
  box-shadow: 0 4px 16px rgba(151, 71, 255, 0.5), 0 0 8px #9747ff;
  transform: scale(1.08);
  color: #fff;
  cursor: pointer;
}

.imagem {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#toggle-mode {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#mode-icon {
  width: 28px; /* Botão menor */
  height: 28px;
  object-fit: contain;
  image-rendering: auto; /* Melhora a qualidade em SVG/PNG */
  transition: transform 0.2s;
}

#toggle-mode:hover #mode-icon {
  transform: scale(1.1);
}

footer {
  background-color: var(--grafite);
  color: var(--offwhite);
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 14pt;
  margin-top: auto;
  box-sizing: border-box;
}

body.light-mode {
  background-color: var(--fundo-light);
  color: var(--texto-light);
}

body.light-mode .cabecalho,
body.light-mode footer {
  background-color: var(--offwhite);
  color: var(--texto-light);
}

body.light-mode .link {
  background-color: var(--roxo-destaque);
  color: var(--texto-light);
}

@media (max-width: 600px) {
  body {
    font-size: 14pt;
  }

  h1 {
    font-size: 32pt;
    text-align: center;
  }

  .cabecalho {
    flex-direction: column;
    padding: 10px;
  }

  .conteudo {
    gap: 10px;
    padding: 10px;
  }

  .link {
    font-size: 14pt;
    padding: 10px 20px;
    margin: 10px;
  }

  .texto {
    font-size: 14pt;
    max-width: 100%;
    padding: 0 5px;
  }

  .imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  footer {
    font-size: 10pt;
    padding: 8px;
    text-align: center;
  }
}
